<!DOCTYPE html>
<html lang="en" ng-app="minerva">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>MinervaJS</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body><div class="container">

    <!-- Nav Bar -->
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MinervaJS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/libraries">Libraries</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-controller="account">
                <li class="dropdown" ng-hide="user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="loginGithub()">Github</a></li>
                        <li><a href="#" ng-click="loginFacebook()">Facebook</a></li>
                    </ul>
                </li>
                <li ng-show="user"><a href="#" ng-click="logout()">Logout {{user.name}}.</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <!-- Main Content -->

    <div ng-view></div>

    <!-- Templates -->
    <script id="login.html" type="text/ng-template">
        <h1>You must be logged in to complete that action</h1>
        <a href="#" ng-click="loginGithub()">Login using Github</a>
    </script>

    <script id="libraryList.html" type="text/ng-template">
        <h1>Libraries</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th> <th>Rating</th> <th>Title</th> <th><a class="btn btn-default btn-xs pull-right" ng-show="user.name" href="#/libraries/new"><span class="glyphicon glyphicon-plus-sign">Add</span></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="library in libraries">
                    <td>{{library.name}}</td>
                    <td>{{library.rating}}</td>
                    <td>{{library.title}}</td>
                    <td>
                        <a class="btn btn-default btn-xs" href="#/libraries/{{library.name}}"><span class="glyphicon glyphicon-search">View</span></a> 
                        <a class="btn btn-default btn-xs" href="#/libraries/{{library.name}}/edit"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="libraryEdit.html" type="text/ng-template">
        <form name="libraryForm" role="form" ng-submit="saveLibrary()">
            <div class="form-group" ng-class="{'has-error': libraryForm.name.$invalid}">
                <label class="control-label" for="name">Name</label>
                <input ng-model="library.name" name="name" class="form-control" type="text" placeholder="Name" required>
                <span ng-show="libraryForm.name.$error.required" class="help-block">Required</span>
                <span class="help-block">Should not contain spaces</span>
            </div>
            <div class="form-group" ng-class="{'has-error': libraryForm.version.$invalid}">
                <label class="control-label" for="version">Version</label>
                <input ng-model="library.version" name="version" class="form-control" type="text" placeholder="Version" required>
                <span ng-show="libraryForm.version.$error.required" class="help-block">Required</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <input ng-model="library.title" name="title" class="form-control" type="text" placeholder="Title">
                <p class="help-block">Expanded form of the name</p>
            </div>
            <div class="form-group" ng-class="{'has-error': libraryForm.url.$invalid}">
                <label class="control-label" for="url">URL</label>
                <input ng-model="library.url" name="url" class="form-control" type="text" placeholder="URL" required>
                <span ng-show="libraryForm.url.$error.required" class="help-block">Required</span>
                <p class="help-block">URL of the library script</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="homepage">Homepage</label>
                <input ng-model="library.homepage" name="homepage" class="form-control" type="text" placeholder="Homepage">
                <p class="help-block">The library's homepage</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <textarea ng-model="library.description" name="description" class="form-control" rows="5"></textarea>
                <p class="help-block">You may use HTML here</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="keywords">Keywords, keywords</label>
                <input ng-model="library.keywords" name="keywords" class="form-control" type="text" placeholder="Keywords, keywords">
                <p class="help-block">e.g. data types, functions, etc.</p>
            </div>
            <button class="btn btn-primary" type="submit" ng-disabled="libraryForm.$invalid || !user.name || isClean()">Submit</button>
            <button class="btn btn-danger" type="button" ng-click="destroy()">Delete</button>
            <a class="btn btn-default" href="#/libraries">Cancel</a>
        </form>
    </script>

    <script id="libraryView.html" type="text/ng-template">
        <span class="pull-right" ng-show="ownLibrary()">
            <a class="btn btn-default" href="#/libraries/{{library.name}}/edit"><span class="glyphicon glyphicon-pencil">Edit</span></a>
        </span>

        <h2><span ng-bind="library.name"></span> <small><a href="{{library.homepage}}" ng-bind="library.homepage"></a></small></h2>
        <p class="lead" ng-bind="library.title"></p>
        <p ng-bind-html-unsafe="library.description"></p>

        <table class="table">
            <tr>
                <th>Maintainer</th>
                <td ng-bind="library.maintainer.name"></td>
            </tr>
            <tr>
                <th>Rating</th>
                <td ng-bind=""></td>
            </tr>
            <tr>
                <th>URL</th>
                <td ng-bind="library.url"></td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td ng-bind="library.keywords"></td>
            </tr>
            <tr>
                <th></th>
                <td ng-bind=""></td>
            </tr>
        </table>
    </script>


    <!-- General 3rd Party Scripts-->
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>

    <!-- Firebase Scripts -->
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>

    <!-- My Scripts -->
    <script src='js/app.js'></script>
</div></body>
</html>
